.input-field {
      padding: 10px;
      border: 3px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      outline: none;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    /* CSS styles for the button */
    .aesthetic-button {
      padding: 10px 20px;
      background-color: #3c9ec2;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 15px; 
      margin-left: 20%;
      margin-bottom: 15px;
    }

    .aesthetic-button:hover {
      background-color: #f67474;
    }

    /* CSS styles for the notifier div */
    #notifier {
      margin-top: 10px;
      font-weight: bold;
      padding: 5px;
      margin-left: 3%;
      margin-bottom:20px;
      font-size: 20px;

    }

    .green {
      color: green;
    }

    .red {
      color: red;
    }

    .bodies {
      width: 290px;
      /* height: 400px;  */
      display:inline-block;
      font-family: 'Lato', sans-serif;
      background-color: #FFF; 
      color: black; 
      justify-content: space-around;
      align-items: center;
      margin-left: 10%;
    }
  #logo{
    margin-bottom: 20px;
    margin-left:15%;
    margin-top:3%;
  }
  #para{
    font-size:18px;
    color: rgb(12, 172, 217);
    margin-left:2%

  }